/*body {
	font-family: 'Chenla', cursive;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	background: #FCFCFC;
}

h1 {
	font-size: 70px;
	font-weight: 700;
}

span {
	display: block;
}

.container {
	text-align: center;
}

i {
	color: #6B8E23;
}

i:hover {
	color: #556B2F;
}

h3 {
	font-size: 20px;
}


 a img.img-thumbnail:hover,
 a img.img-thumbnail:active {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }

 .product_thumb {
 	text-align: center;
 }






*/