@font-face {
font-family: 'F25_Executive';
src: url('fonts/F25_Executive.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'F25_Executive';
	font-size: 20px;
	background: #FCFCFC;
  margin-bottom: 150px;
  height: 100%;
  width: 100%;
}

span.text-muted {
	display: block;
}

h1 {
  font-family: 'Amatic SC';
	font-size: 70px;
	font-weight: 700;
}


.about {
  margin-bottom: 20px;
}

.container {
	text-align: center;
  margin: 0 auto;
}

.article-text {
  font-size: 15px;
  text-align: left;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #343a40;
}

.cp-right {
  font-size: 10px;
}

.bottom {
  margin-bottom: 150px;
}

.btn-primary {
  background-color: #343a40;
  border: none;
  margin: 30px;
  padding: 15px;
}

.btn-primary:hover {
  background-color: rgba(52, 58, 64, 0.5);
}

.mb-1 {
  text-align: left;
}

.productThumb {
  text-align: center;
}

.productName {
  font-size: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.back {
  margin-top: 30px;
}


.about-text {
  text-align: center;
}

.page-headers {
  text-align: center;
  margin: 30px;
}

.page-text {
  font-family: 'F25_Executive';
}

i.contactIcon {
  color: rgba(255,255,255,.5);
}

i.contactIcon:hover {
  color: rgba(255,255,255,.75);
}

/* .theme-buttons {
  background-color:
  margin: 30px;
} */

.navbar-toggler {
  text-align: center;
  background: black;
  color: white;
}

/* .navbar-toggler-icon {
  color: #343a40;
} */

.navbar-nav {
  text-align: right;
}

li.nav-item {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'F25_Executive';
}


a img.img-thumbnail:hover,
a img.img-thumbnail:active {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }

 .product_lists {
   list-style: none;
 }

 .product_list_title {
   font-weight: 800;
   text-decoration: underline;
   text-transform: uppercase;
 }

 .social-icons {
   margin-top: 10px;
 }

 .media-row {
   height: 350px;
 }


.article-title {
  font-family: 'Amatic SC';
  font-size: 40px;
}

.opaqueBackground {
  background-color: rgba(52, 58, 64, 0.5) !important;
}

.popover {
  font-family: 'F25_Executive';
}

.product {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 500px;
  background-color: grey;
  margin-bottom: 30px;
}

#tableHolder {
  display: none;
  text-align: left;
  margin-bottom: 20px;
}

#collapseButton {
  display: none;
}

#wrapper {
  margin-bottom: 100px;
}

#aboutSlideshow {
  height: 100vh;
  margin-bottom: 10px;
}

.nursery__header {
  height: 75vh;
  width: 100vw;
  background-image: url("images/nursery/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 10px;
}

.nursery__title {
  color: white;
}

.nursery__category {
  height: 300px;
  max-width: 300px;
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nursery__category .card {
  height: 100%
}

.nursery__category .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nursery__category .card .card-body:hover {
  text-decoration: underline;
}

.card .card-body {
  height: 50px;
}

.modal-header {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-header .modal-title {
  padding-left: 1em;
  font-size: 2rem;
  color: white;
}


.modal-body ul .nursery__variety {
  list-style: none;
  text-align: left;
  border-bottom: 1px solid grey;
  padding: 1em;
}

.nursery__variety:hover,
.nursery__variety:focus{
  background: #343a40;
  color: #fff;
}

#annualModalHeader {
  background-image: url("images/nursery/annuals.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#perennialModalHeader {
  background-image: url("images/nursery/perennials.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#tropicalModalHeader {
  background-image: url("images/nursery/tropicals.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#vegetableModalHeader {
  background-image: url("images/nursery/vegetables.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#herbModalHeader {
  background-image: url("images/nursery/herbs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (max-width: 800px) {
    .media-row {
        height: 450px;
    }
    .article-title {
      margin-top: 20px;
      font-size: 30px;
    }
    div.article-text {
      text-align: center;
    }
}

@media screen and (max-width: 768px) {
  .modal-body ul .nursery__variety {
    font-size: 1rem;
    padding: 0.5em;
  }
}
