@font-face {
font-family: 'F25_Executive';
src: url('fonts/F25_Executive.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-size: 20px;
	background: #FCFCFC;
  margin-bottom: 150px;
  height: 100%;
  width: 100%;
}

span.text-muted {
	display: block;
}

h1 {
  font-family: 'Amatic SC';
	font-size: 70px;
	font-weight: 700;
}

/* ul {
  text-align: center;
} */

.about {
  margin-bottom: 20px;
}

.container {
	text-align: center;
  margin: 0 auto;
}

.article-text {
  font-size: 15px;
  text-align: left;
  /* display: inline-block; */
}

/* .media-logo {
  display: inline-block;
} */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #292b2c;
}

.bottom {
  margin-bottom: 150px;
}

.btn-primary {
  background-color: #6B8E23;
  border: none;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #556B2F;
}

.mb-1 {
  text-align: left;
}

.productThumb {
  text-align: center;
}

.productName {
  font-size: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back {
  margin-top: 30px;
}


.about-text {
  text-align: center;
}

.page-headers {
  text-align: center;
  margin: 20px;
}

.page-text {
  font-family: 'F25_Executive';
}

i.contactIcon {
  /* color: #6B8E23; */
  color: rgba(255,255,255,.5);
}

i.contactIcon:hover {
  /* color: #556B2F; */
  color: rgba(255,255,255,.75);
}

.navbar-toggler {
  text-align: center;
  background: black;
}

.navbar-nav {
  text-align: right;
}

li.nav-item {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'F25_Executive';
}


a img.img-thumbnail:hover,
a img.img-thumbnail:active {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }

 .product_lists {
   list-style: none;
 }

 .product_list_title {
   font-weight: 800;
   text-decoration: underline;
 }

 .social-icons {
   margin-top: 20px;
 }

 .media-row {
   height: 200px;
   border: 1px solid red;
 }

.opaqueBackground {
  background: rgba(41, 43, 44, 0.5) !important;
}


/* #homeHeader {
    font-family: "F25F25_Executive"
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    opacity: 0.75;
} */

#map {
  width: 100%;
  height: 500px;
  background-color: grey;
  margin-bottom: 30px;
}

#tableHolder {
  display: none;
  text-align: left;
  margin-bottom: 20px;
}

#collapseButton {
  display: none;
}

#wrapper {
  margin-bottom: 100px;
}

#aboutSlideshow {
  height: 100vh;
  margin-bottom: 10px;
}
